<div class="row g-2">
  <div class="col-md-4 col-lg-3">
    <app-filter-select-dropdown
      [calendarId]="calendarId"
      [filterType]="'categories'"
    ></app-filter-select-dropdown>
  </div>

  <div class="col-md-4 col-lg-3">
    <app-filter-select-dropdown
      [calendarId]="calendarId"
      [filterType]="'organizers'"
    ></app-filter-select-dropdown>
  </div>

  <div class="col-md-4 col-lg-3">
    <app-filter-select-dropdown
      [calendarId]="calendarId"
      [filterType]="'tags'"
    ></app-filter-select-dropdown>
  </div>

  <div class="col-md-4 col-lg-3">
    <app-filter-select-dropdown
      [calendarId]="calendarId"
      [filterType]="'venues'"
    ></app-filter-select-dropdown>
  </div>
</div>
